**/*.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/server/server
*.test
*.out
coverage.out

node_modules/
dist/
.vite/
webclient/public/tailwind.css
