.droppr-file-table-container {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 48px;
  left: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.droppr-file-table-container::after {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 24px;
  display: block;
  background: linear-gradient(transparent, rgb(241 245 249));
  content: '';
}

table.droppr-file-table {
  width: 100%;
  table-layout: fixed;
}

table.droppr-file-table th {
  position: sticky;
  top: 0;
}

table.droppr-file-table img {
  margin: 2px 0 6px 0;
  width: 16px;
  height: 16px;
}

table.droppr-file-table th,
table.droppr-file-table td {
  width: 128px;
  height: 24px;
  border-left: 1px solid rgb(203 213 225);
  padding-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 24px;
}

/* fill space; left padding; rounded left corners */
table.droppr-file-table th:first-child,
table.droppr-file-table td:first-child {
  width: auto;
  max-width: 0;
  border-left-width: 0;
}

table.droppr-file-table td:first-child {
  border-radius: 8px 0 0 8px;
}

/* (width 128px); right padding; rounded right corners */
table.droppr-file-table td:last-child {
  padding-right: 8px;
  border-radius: 0 8px 8px 0;
}

table.droppr-file-table tr:nth-child(even) {
  background-color: rgb(226 232 240); /* bg-slate-200 */
}

table.droppr-file-table tr.download:hover {
  background-color: rgb(191 219 254); /* bg-blue-200 */
  cursor: pointer;
}
